body{
    background-color: #fdfcdc;
}
._logo_{
    font-family: Verdana;
    font-size: 24px;
    font-weight: bold;
    color: #06054e;
}
a:link._logo_{text-decoration: none;}
a:hover._logo_{color:#6d0000}

._infonav_{
    display: inline;
}
.ilsole24ore .smart24condominio{
    display: inline;
}